<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #060632;
}

html { font-size: calc(0.80em + 1vw) }

h1, h2, h3, h4, h5, h6 {
  color: #060632;
  font-family: 'Blinker', sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Blinker", sans-serif;
    justify-content: center;
  }

  .uk-navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #060632;
  }

  .uk-navbar-left,
  .uk-navbar-right {
    background-color: #060632;
    width: 50%;
  }

  .uk-navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header {
    display: flex;
    width: 100%;
    height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2.5%;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 100%;
  }

  .problem {
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .problem-text {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: left;
    align-items: center;
  }

  .problem-text p {
    vertical-align: middle;
  }

  .problem .image-container {
    width: 30%;
    height: 100%;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 29vh;
    justify-content: center;
    align-items: center;
  }

  .uk-button-primary {
    background-color: #992825;
  }
}

@media screen and (min-width: 768px) {
  html { font-size: calc(.80em + 1vw) }

  p { font-size: calc(1em + 1vw) }
  
  body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Blinker", sans-serif;
    justify-content: center;
  }
  
  .uk-navbar-container {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #060632;
  }

  .uk-navbar-left,
  .uk-navbar-right {
    background-color: #060632;
    width: 50%;
  }

  .uk-navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header {
    display: flex;
    width: 50%;
    height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 80%;
  }

  .problem {
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .problem-text {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: left;
    align-items: center;
  }

  .problem-text p {
    vertical-align: middle;
  }

  .problem .image-container {
    width: 30%;
    height: 100%;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 29vh;
    justify-content: center;
    align-items: center;
  }

  .uk-button-primary {
    background-color: #992825;
    text-transform: none;
  }
}

@media screen and (min-width: 960px) {
  html { font-size: calc(.80em + 1vw) }

  p { font-size: calc(1em + 1vw) }
  
  body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Blinker", sans-serif;
    justify-content: center;
  }
  
  .uk-navbar-container {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #060632;
  }

  .uk-navbar-left,
  .uk-navbar-right {
    background-color: #060632;
    width: 50%;
  }

  .uk-navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header {
    display: flex;
    width: 50%;
    height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 80%;
  }

  .problem {
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .problem-text {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: left;
    align-items: center;
  }

  .problem-text p {
    vertical-align: middle;
  }

  .problem .image-container {
    width: 30%;
    height: 100%;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 29vh;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 100%;
  }

  .uk-button-primary {
    background-color: #992825;
    text-transform: none;
  }

}

@media screen and (min-width: 1200px) {
  html { font-size: calc(.60em + 1vw) }

  p { font-size: calc(.5em + 1vw) }
  
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-family: "Blinker", sans-serif;
  }
  
  .uk-navbar-container {
    display: flex;
    width: 100%;
    height: 7.5vh;
    background-color: #060632;
  }

  .uk-navbar-left,
  .uk-navbar-right {
    background-color: #060632;
    width: 50%;
  }

  .uk-navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  .uk-navbar-nav li a{
    font-size: calc(0 + 1vw);
  }

  main {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  header {
    display: flex;
    width: 40%;
    height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 80%;
  }

  .problem {
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .problem-text {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: left;
    align-items: center;
  }

  .problem-text p {
    vertical-align: middle;
  }

  .problem .image-container {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: flex-end;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 35%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 29vh;
    justify-content: center;
    align-items: center;
  }

  .uk-input {
    font-size: calc(.05em + 1vw);
  }

  .uk-button-primary {
    background-color: #992825;
    text-transform: none;
    font-size: calc(.05em + 1vw);
  }
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #060632;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    font-family: "Blinker", sans-serif;
  }

  .uk-navbar-container {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #060632;
  }

  .uk-navbar-left,
  .uk-navbar-right {
    background-color: #060632;
  }

  .uk-navbar-left {
    width: 30%;
  }

  .uk-navbar-right {
    display: flex;
    width: 70%;
    justify-content: right;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    text-align: center;
    align-items: center;
  }

  .problem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }

  .problem-text {
    display: flex;
    width: 70%;
  }

  .problem .image-container {
    width: 30%;
  }

  .header__image img {
    width: 60%;
  }
}
>>>>>>> 1c356c1dc9ce96abdaba0854875b274fa3fd8224
